//colors
$color:(
    primary_dark:  #034e4e,
    primary:  #008080,
    primary_light:  #01c9c9,
    primary_200: #ea686f,
    secondary: #320f57,
    secondary_light: #442c5e,
    accent: #c5c5c5,
    accent_light: #e9e9e9,
    accent_dark: rgba(129, 129, 129, 0.8),
    dark:  #10021f,
    light: #ffffff,
    // light: #ffffff,
    success:#3FAE28,
    fail:#F9322B,
    );

//font-imports
@font-face {
    font-family: 'sf-pro-regular';
    src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
};
@font-face {
    font-family: 'sf-pro-light';
    src: url('../../fonts/SFPRODISPLAYUTRALIGHT.OTF') format('truetype');
};
@font-face {
    font-family: 'sf-pro-bold';
    src: url('../../fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
};
@font-face {
    font-family: 'sf-pro-semi-bold';
    src: url('../../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype');
};

//font-family
$font__family: (
	base:'sf-pro-regular', // font-family(base)
	light:'sf-pro-light', // font-family(base)
	bold:'sf-pro-bold', // font-family(base)
	semi_bold:'sf-pro-semi-bold', // font-family(base)
);

