    .order-tile{
        margin-top: 1rem;
        border: 1px solid color(dark);
        background-color: color(dark);
        border-radius: 0.5rem;
        padding: 0.05rem;
        .inner-box{
            background-color: color(light);
            border-radius: 0.3rem;
            padding: 0.5rem;
            @include display-flex(space-between);
            @include font-family(semi_bold);
            .title{
                width: 55%;
                text-align: start;
            }
        }
        .icon{
            img{
                width: 25px;
                height: auto;
                object-fit: contain;
                object-position: center;
            }
        }
    }