body{
    @include font-family(base);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: color(dark);
}


*:focus{
    outline: 0px;
    border: none;
}

