.text-semi-bold {
    @include font-family(semi_bold);
}
.text-success {
    color: color(success);
}
.text-fail {
    color: color(fail) !important;
}

.page{
    
    @include font-family(light);
    color: color(dark);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn-neg{
    color: white;
    font-size: 13px;
    background:  color(fail) !important;
}

.text-alt {
    color: color(primary);
}

.btn-custom {
    background: color(primary_200);
    color: color(dark);
    font-size: 13px;
    i {
        margin-right: 0.5rem;
    }
}

.custom-header {
    @include display-flex(space-between);
    border-bottom: 0.01rem solid color(secondary);
    align-items: center;
    button{ margin-bottom: 0.5rem;}

    a{
        color:color(dark) !important;
        text-decoration: none !important;
    }
}

.section-right{
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
    background: color(dark);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,color(primary_light),color(primary), color(dark));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,color(primary_light),color(primary), color(dark));
}

.centered {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.select {
    width: 100%;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border-radius: 0.25rem;
    border: 0.01rem solid color(secondary);
    select,input {
        border: none;
        width: 100%;
    }
    .form-control{
        height: unset;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
    .form-control:focus{
        outline: 0px !important;
        border: none !important;
    }

}
   
.border-bottom{
    border-bottom: 0.1rem solid color(secondary);
}

.bg-green{
    background: color(success);
}
.bg-red{
    background: color(fail);
}
.bg-grey{
    background: color(secondary);
}

.pages{
    float: right;
}