.custom-table {
    overflow: scroll;
    height: 100%;
    .table {
        tr {
            th {
                color: color(dark);
                font-size: 15px;

                @include font-family(semi_bold);

                .avatar-circle {
                    background: color(primary_light);
                    border-radius: 50%;
                    padding: 0.2rem;
                    width: 30px;
                    height: 30px;
                    @include display-flex(center);
                    align-items: center;
                    i {
                        color: color(light);
                    }
                }
            }
        }
        td {
            font-size: 14px;
            height: 30px;
            a{
                color: color(dark);
                @include font-family(base);
                &:hover{
                    color: color(primary);
                }
            }
        }
    }
}